{% extends 'base.html' %}

{% load crispy_forms_tags i18n django_tables2 %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {% if object_list.form %}
                <div class="hidden-print filter_form">
                    {% crispy object_list.form %}
                </div>
            {% endif %}
        </div>
        <div class="col-12">
            <div class="table-responsive">
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock content %}
