{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="img-rounded">
            <img class="img-thumbnail" src="{{ object.logo.url }}" alt="{{ object.title }} logo">
        </div>
        <h1 title="{{ object.title }}">{{ object.title }}</h1>
        <hr>
        {% for group in object.group_set.all %}
            <a href="{% url 'dancegroups:group_detail' group.collective.slug group.slug %}">{{ group.title }}</a>
            {% empty %}
            {% if request.user == object.leader or request.user.is_superadmin %}
                Kolektīvam nav pievienotas nevienas grupas.
            {% endif %}
        {% endfor %}
    <a href="{% url 'dancegroups:group_create' object.slug %}" title="Pievienot jaunu grupu">Pievienot jaunu grupu</a>
    </div>
</div>
{% endblock content %}
