{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 title="{{ object.title }}">{{ object.title }}</h1>
        <hr>
        {% for dancer in object.members.all %}
            {{ group.title }}
            {% empty %}
            {% if request.user == object.leader or request.user.is_superadmin %}
                Kolektīvam nav pievienotas nevienas grupas.
            {% endif %}
        {% endfor %}
    <a href="{% url 'dancegroups:group_update' object.collective.slug object.slug %}" title="Labot grupu">Labot grupu</a>
    </div>
</div>
{% endblock content %}
